* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pokemonInfoContainer{
    margin: 0 auto;
    border: 1px solid LightGray;
    width: 500px;
    padding: 30px;
}